{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'restraunt/styles/style.css' %}">
  <link rel="shortcut icon" href="{% static 'restraunt/img/favicon.ico' %}" type="image/x-icon">
  <link type="image/x-icon" href="{% static 'restraunt/img/favicon.ico' %}" rel="icon">
  <title>EDUfood</title>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="header__general-info">
        <a href="{% url 'main' %}" class="logo">
          <img class="logo__img" src="{% static 'restraunt/img/logo.svg' %}" alt="Логотип EDUfood">
          EDUfood
        </a>
        <form action="" class="header__search-form search-form">
          <label class="search-form__label">
            <input class="search-form__input" type="text" placeholder="Поиск">
          </label>
          <button class="search-form__btn">
            <img src="{% static 'restraunt/img/search.svg' %}" alt="Иконка поиска">
          </button>
        </form>
        <div class="header__deliv-addr deliv-addr">
          <img class="deliv-addr__point" src="{% static 'restraunt/img/delivery-point.svg' %}" alt="Иконка адреса доставки">
          <div class="deliv-addr__text-wrap">
            <p class="deliv-addr__current">улица Бориса Галушкина, 9</p>
            <button class="deliv-addr__change-address">Изменить адрес доставки</button>
          </div>
        </div>  
      </div>
      
      <div class="header__user-info user-info">
        <a href="./cart.html" class="user-info__cart">
          <img class="user-info__cart-icon" src="{% static 'restraunt/img/cart.svg' %}" alt="Иконка корзины">
          Корзина
        </a>
        <a class="user-info__profile">
          <img class="user-info__profile-icon" src="{% static 'restraunt/img/profile.svg' %}" alt="Иконка профиля">
          Войти
        </a>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="wrapper">
      {% block main %}
      {% endblock main %}
    </div> 
  </main>

  <footer class="footer">
    <div class="wrapper">
      
      {% block menu-footer %}
      {% endblock menu-footer %}

      <ul class="footer__list--credits">
        <li class="footer__list-heading">
          Создатель
        </li>
        <li class="footer__list-text">
          Курсовая работа 2 семестра
        </li>
        <li class="footer__list-text">
          Неустроева Ольга Геннадьевна
        </li>
        <li class="footer__list-text">
          Учебная группа 211-322
        </li>
        <li class="footer__list-text">
          Факультет Информационных Технологий
        </li>
        <li class="footer__list-text">
          Московский Политехнический университет
        </li>
      </ul>  
  </footer>

  <div class="footer__copy">
      Неустроева Ольга Геннадьевна, Moscow Polytechnic University, 2022 г.
  </div>
</div>
</body>
</html>