{% extends 'restraunt/base.html' %}
{% load static %}

{% block main %}
  <h1 class="visually-hidden">EDUfood - сервис доставки еды из ресторанов</h1>
  <h2 class="main__heading">Рестораны</h2>

  {% block menu %}
  <nav class="main__menu menu">
    <ul class="menu__list">
      {% for c in categories %}
      <li class="menu__item">
        <a href="#{{c.title}}" class="menu__link">{{c.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endblock menu %}

  {% for c in categories %}
  <section class="main__category category">
    <h3 class="category__heading" id="{{c.title}}">{{c.title}}</h3>
    <ul class="category__list">
      {% for r in restraunts %}
      {% if r.category.title == c.title %}
      <li class="category__restr-card restr-card">
        <img class="restr-card__img" src="{{r.cover.url}}" alt="Ресторан {{r.title}}">

        <a href="{% url 'restraunt' r.pk %}" class="restr-card__link">{{r.title}}</a>
        <div class="restr-card__mark mark">
          <img class="mark__star-icon star-icon" src="{% static 'restraunt/img/star.svg' %}" alt="Иконка оценки">
          <p class="mark__points">{{r.rate}}</p>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  {% endfor %}

  <p class="main__page-description">EDUfood - самая быстрая доставка еды на дом. Бургеры, пицца, домашняя еда, сладости - у нас вы сможете найти и заказать всё, что вашей душе угодно!</p>
{% endblock %}

{% block menu-footer %}
<nav class="footer__nav">
  <ul class="footer__list">
    <li class="footer__list-heading">
      Меню
    </li>
    
    {% for c in categories %}
      <li class="footer__list-item">
        <a href="#" class="footer__list-link">{{c.title}}</a>
      </li>
    {% endfor %}
  </ul>

  <ul class="footer__list">
    <li class="footer__list-heading">
      Рестораны
    </li>
    {% for r in restraunts %}
    <li class="footer__list-item">
      <a href="{% url 'restraunt' r.pk %}" class="footer__list-link">{{r.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock menu-footer %}
  